/venv/
/auto/
/class_training/
/Dealers/
/Foriegn/
/futures/
/gan/
/Margin_financing/
/securities/
/securities_margin/
/securities_shortsale/
/shi/
/Short Sales/
/stock/
/stock_clean/
/training/
/training_raw/
/Trust/
/up100/
/xgb/
/Electronic.rar
/TAIEX/
